name: crypto-bigint

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    branches:
      - master
    paths-ignore:
      - README.md

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-no-std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: thumbv7em-none-eabi
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features alloc
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features der
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features hybrid-array
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features rand_core
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features rlp
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features serde
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features subtle
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features zeroize
      - run: cargo build --target thumbv7em-none-eabi --release --no-default-features --features alloc,der,hybrid-array,rand_core,rlp,serde,subtle,zeroize

  build-benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo build --benches
      - run: cargo build --all-features --benches

  test:
    strategy:
      matrix:
        include:
          # `x86` Linux
          - target: i686-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            args: --release
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            args: --release
            deps: sudo apt update && sudo apt install gcc-multilib

          # `x86_64` Linux
          - target: x86_64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: x86_64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            args: --release
          - target: x86_64-unknown-linux-gnu
            rust: stable
          - target: x86_64-unknown-linux-gnu
            rust: stable
            args: --release

          # `aarch64` Linux
          - target: aarch64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            runner: ubuntu-24.04-arm
          - target: aarch64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            runner: ubuntu-24.04-arm
            args: --release
          - target: aarch64-unknown-linux-gnu
            rust: stable
            runner: ubuntu-24.04-arm
          - target: aarch64-unknown-linux-gnu
            rust: stable
            runner: ubuntu-24.04-arm
            args: --release

          # `aarch64` macOS
          - target: aarch64-apple-darwin
            rust: 1.85.0 # MSRV
            runner: macos-latest
          - target: aarch64-apple-darwin
            rust: 1.85.0 # MSRV
            runner: macos-latest
            args: --release
          - target: aarch64-apple-darwin
            rust: stable
            runner: macos-latest
          - target: aarch64-apple-darwin
            rust: stable
            runner: macos-latest
            args: --release
    runs-on: ${{ matrix.runner != '' && matrix.runner || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
        if: ${{ matrix.deps != '' }}
      - run: cargo check --target ${{ matrix.target }} --all-features # ensure it builds with all features
      - run: cargo test --target ${{ matrix.target }} --no-default-features ${{ matrix.args }}
      - run: cargo test --target ${{ matrix.target }}  ${{ matrix.args }}
      - run: cargo test --target ${{ matrix.target }} --all-features ${{ matrix.args }}

  # Test using `cargo careful`
  test-careful:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo install cargo-careful
      - run: cargo careful test --all-features

  # Test on foreign architectures using `cross test`
  test-cross:
    strategy:
      matrix:
        include:
          - target: armv7-unknown-linux-gnueabi # ARM32
          - target: powerpc-unknown-linux-gnu   # PPC32 (big endian)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - run: cargo install cross
      - run: cross test --target ${{ matrix.target }} --no-default-features
      - run: cross test --target ${{ matrix.target }}
      - run: cross test --target ${{ matrix.target }} --all-features
      - run: cross test --target ${{ matrix.target }} --all-features --release

  # Test using `cargo miri`
  test-miri:
    runs-on: ubuntu-latest
    env:
      MIRIFLAGS: "-Zmiri-symbolic-alignment-check -Zmiri-strict-provenance"
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - s390x-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: rustup component add miri && cargo miri setup
      - run: cargo miri test --target ${{ matrix.target }} --no-default-features --lib

  # Test WASM using `wasmtime`
  test-wasm:
    runs-on: ubuntu-latest
    env:
      CARGO_TARGET_WASM32_WASIP1_RUNNER: "wasmtime"
    steps:
      - uses: actions/checkout@v6
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-wasip1
      - run: cargo test --target wasm32-wasip1 --no-default-features
      - run: cargo test --target wasm32-wasip1
      - run: cargo test --target wasm32-wasip1 --all-features
      - run: cargo test --target wasm32-wasip1 --all-features --release

  # Generate code coverage and report to codecov.io
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: cargo llvm-cov --all-features --lcov --output-path lcov.info
        env:
          CARGO_HUSKY_DONT_INSTALL_HOOKS: true
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true

  minimal-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - run: cargo update -Z minimal-versions
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: RustCrypto/actions/cargo-hack-install@master
      - run: cargo hack check --release --feature-powerset --no-dev-deps

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.93.0
          components: clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo doc --all-features

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.43.4
