name: Publish to crates.io
on:
  push:
    tags: [ 'v*' ]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Extract Crate Name and Version
        run: |
          TAG_NAME="${{ github.ref_name }}"
          echo "TAG_NAME=${TAG_NAME}" >> $GITHUB_ENV

      - name: Check crate version
        run: |
          CRATE_TOML_VERSION=$(grep "^version =" Cargo.toml | cut -d'"' -f2)
          echo $CRATE_TOML_VERSION
          [[ $CRATE_TOML_VERSION == $TAG_NAME ]]

      - name: Publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish
